<div class="center jumbotron">
  <h1><%= t ".welcome" %></h1>
  <h2>
    <%= t ".home_page" %>
    <%= link_to t("ruby"), "http://www.railstutorial.org/" %>
    <%= t ".end" %>
  </h2>
  <%= link_to t(".now"), new_path, class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails logo"), 
  "http://rubyonrails.org/" %>
<%= link_to image_tag("ruby.jpg", alt: "Ruby logo", id:"ruby"),
  "https://www.tutorialspoint.com/ruby/index.htm" %>
<%= link_to image_tag("kitten.jpg", alt: "Kitten logo",id:"kitten"),
  "http://rubyonrails.org/" %>
